@model Project_IA.Models.Post

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_ViewerLayout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Post</h4>
    <hr />
    <dl class="dl-horizontal table-striped table-bordered table-hover">
        <dt>
            @Html.DisplayNameFor(model => model.PostCategory.ArticleType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PostCategory.ArticleTitle)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EditorName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EditorName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ArticleTitle)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ArticleTitle)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ArticleBody)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ArticleBody)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ArticleImage)
        </dt>

        <dd>
            <img src="~/Uploads/@Html.DisplayFor(model=>model.ArticleImage)"
                 class="thumbnail" style="width:200px; height:200px;" />
        </dd>
        <div class="row">

            <div class="col-md-3">
                @Html.ActionLink("Like", "LikePost", new { postId = Model.id }, new { @class = "btn btn-default" })
                    </div>
            <div class="col-md-3">
                @Html.ActionLink("DisLike", "DisLikePost", new { postId = Model.id }, new { @class = "btn btn-danger" })
                    </div>
        </div>
    </dl>
</div>
<p>
    @Html.ActionLink("Back to List", "Index", new { @class = "btn btn-default" }) |
    @Html.ActionLink("Comment", "Comment", new { id = Model.id }, new { @class = "btn btn-default " })

</p>
